<section class="section4">
	<div class="new-section-3-container">
		<div class="new-title-s3-wrapper">
			<h1 class="new-title-s3">Cloud Apps Lab: Core Value</h1>
		</div>
		<div class="hexagon-container">
            <%- include('./components/hexagon', {h1Value: 'Define', pValue: 'Identify a product or service (DT or customer’s) that we want to enhance.'})%>
			<div class="arrow"></div>
            <%- include('./components/hexagon', {h1Value: 'Explore', pValue: 'Deep dive into the service value chain behind the customer experience journey.'})%>
			<div class="arrow"></div>
            <%- include('./components/hexagon', {h1Value: 'Optimize', pValue: 'Lean the functions and roles needed to optimize the value stream.'})%>
			<div class="arrow"></div>
            <%- include('./components/hexagon', {h1Value: 'Digitize', pValue: 'Completely digitize processes and automate the most you need.'})%>
			<div class="arrow"></div>
            <%- include('./components/hexagon', {h1Value: 'Measure', pValue: 'Measure everything and use the data provided to improve your business service.'})%>
		</div>
	</div>
</section>
